.home-container {
  height: 100vh;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  background-color: var(--light-bg);
  color: var(--light-text);
}

.home-header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1.1rem;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-accent);
}

.home-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.3rem;
  color: inherit;
}

.home-description {
  font-size: 1.2rem;
  max-width: 700px;
  line-height: 1.6;
}

.home-footer {
  font-size: 1.1rem;
  color: #555;
}

.highlight {
  color: var(--primary-accent);
  font-weight: 600;
}

.sample-product {
  background-color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  width: 100%;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

sample-product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.sample-product img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.sample-product h3 {
  font-size: 1.1rem;
  color: var(--primary-accent);
  margin-bottom: 0.5rem;
}

.sample-product p {
  font-size: 1rem;
  color: #444;
  font-weight: bold;
}

/* Dark Mode */
.dark .home-container {
  background-color: var(--dark-accent);
  color: var(--dark-text);
}

.dark .home-footer {
  color: #bbb;
}
