:root {
  --primary-accent: #76ABAE;
  --hover-accent: #555879;
  --dark-accent: #1e1e2f;
  --dark-text: #f5f5f5;
  --active-light: #ffeaa7;
  --active-dark: #ffd6e8;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  padding: 1rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-accent);
  color: white;
}

.navbar h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.links {
  margin-right: 2rem;
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--hover-accent);
}

.active-link {
  font-weight: bold;
  color: var(--active-light);
  text-decoration: none;
  border-bottom: none;
}

.cartIcon {
  cursor: pointer;
}

/* Theme Toggle */
.cart-theme {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.cart-theme p {
  cursor: pointer;
}

/* DARK MODE */
.dark .navbar {
  background-color: var(--primary-accent);
  color: var(--dark-text);
}

.dark .link {
  color: var(--dark-text);
}

.dark .link:hover {
  color: #dcd6f7;
}

.dark .active-link {
  color: var(--active-dark);
}
