.footer {
  bottom: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  text-align: center;
  background-color: var(--primary);
  color: var(--light-text);
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-top: 1px solid #ccc;
  margin-top: auto;
}

.dark .footer {
  background-color: var(--dark-card);
  color: var(--dark-text);
  border-top: 1px solid #333;
}

